* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.h-60{
  height: 60%;
}

.fs-40 {
  font-size: 30px;
}
h6 {
  font-size: 12px;
  font-weight: bolder;
}

.content {
  flex: 1;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.button {
  text-decoration: none;
}

.custom-typeahead .rbt-input-main {
  background-color: transparent;
  padding: 0;
  outline: none;
  font-size: 12px;
  color: #777777;
  cursor: pointer;
}

.custom-typeahead .rbt-input-main:focus {
  background-color: transparent;
  border: none;
  outline: none;
  box-shadow: none;
}

.custom-typeahead .rbt-input-main::placeholder {
  font-size: 12px; /* Adjust the font size as needed */
  color: #777777; /* Adjust the color as needed */
}
/* ======================= Header =============================*/

.login-btn {
  border: 2px black solid;
  border-radius: 10px;
  padding: 5px;
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 5px;
  color: black;
  font-size: 14px;
}

.search-wrapper {
  padding: 15px;
  background-color: #e3e4e6;
  border-radius: 40px;
  font-size: 12px;
}

.filter-inputs {
  border: none;
  background-color: transparent;
  color: #777777;
}

.filter-inputs:focus {
  border: none;
  outline: none;
}

.end-border-line {
  border-right: 1px solid #b0b3b5;
}

.search-btn {
  border: none;
  background-color: transparent;
}

/*=================Header ends herer =============*/
.footer-wrapper {
  text-align: center;
}

/*===========footer ends here===========*/

/*=====================hotel card=================*/
.card-wrapper {
  background-color: white;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  height: 350px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.img-wrapper {
  height: 50%;
}

.booking-btn {
  border: none;
  border-radius: 5px;
  background-color: #3483eb;
  padding: 0px 5px;
  height: 30px;
  color: white;
  text-decoration: none;
}

/*================ hotel card ends here===============*/

/*==================login page ====================*/
.auth-card {
  border-radius: 10px;
  padding: 20px;
  background-color: white;
  width: 500px;
}

.auth-card h3 {
  font-size: 19px;
  font-weight: 500;
  color: #777777;
}

.auth-card .form-control {
  height: 50px;
  background-color: #f5f5f7;
  color: #777777;
  font-size: 14px;
  border-radius: 10px;
  border-color: transparent;
}

.auth-card a {
  font-size: 14px;
  font-weight: 400;
  color: #1c1c1b;
}

.auth-card .signup {
  background-color: #febd69;
  color: #131921;
}

.auth-card button,
.auth-card .signup {
  font-size: 15px;
  width: 80px;
  text-align: center;
}

.auth-card .signup:hover {
  background-color: #131921;
  color: white;
}

.auth-card p {
  font-size: 13px;
  color: #777777;
}

.date-picker-popper {
  position: absolute;
  z-index: 1000;
}

/*=============== update booking ===============*/
.update-booking-wrapper {
  top: 50%;
  left: 30%;
}

/*=============== update booking ends here===============*/

/*=============== room card===============*/
.room-price > p {
  font-size: 10px;
  color: #b0b3b5;
}

/*==============home=================*/
.city-wrapper {
  width: 400px;
  height: 300px;
}

.city-name {
  bottom: 10%;
  right: 10%;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.marquee-inner-wrapper {
  display: flex;
  overflow-x: auto;
}

.marquee-item {
  box-sizing: border-box;
}

.login-warning-wrapper {
  top: 70%;
  left: 35%;
  background-color: white;
}

@media (max-width: 425px){
  .update-booking-wrapper{
    width: 100%;
  }
  
}